DatabaseWidget:!active,
DatabaseWidget #groupView:!active, DatabaseWidget #tagView:!active,
EntryPreviewWidget *:!active[blendIn="true"] {
    background-color: #FCFCFC;
}

DatabaseWidget:disabled,
DatabaseWidget #groupView:disabled, DatabaseWidget #tagView:disabled,
EntryPreviewWidget *:disabled[blendIn="true"] {
    background-color: #EDEDED;
}

QPushButton:default:hover, QPushButton:checked:hover {
    /* Using slightly lighter shade from palette(highlight) */
    background: #FFaa00;
}

QToolTip {
    color: #F9F9F9;
    background-color: #FF9900;
}

QGroupBox::title {
    color: #E08600;
}
