DatabaseWidget:!active,
DatabaseWidget #groupView:!active, DatabaseWidget #tagView:!active,
EntryPreviewWidget *:!active[blendIn="true"] {
    background-color: #FCFCFC;
}

DatabaseWidget:disabled,
DatabaseWidget #groupView:disabled, DatabaseWidget #tagView:disabled,
EntryPreviewWidget *:disabled[blendIn="true"] {
    background-color: #EDEDED;
}

QPushButton:default,
QPushButton:checked {
    background: #DB760F;
    color: #F9F9F9;
}

QPushButton:default:hover, QPushButton:checked:hover {
    /* Using slightly lighter shade from palette(highlight) */
    background: #B85F0A;
}

QToolTip {
    color: #F9F9F9;
    background-color: #B85F0A;
}

QGroupBox::title {
    color: #B85F0A;
}
